* {
  box-sizing: border-box;
}

:root {
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  color: white;
}

/* Common */

a {
  text-decoration: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .h-screen-3per4 {
    height: 75vh;
  }
  .h-screen-1per2 {
    height: 50vh;
  }
  .h-screen-1per3 {
    height: 33vh;
  }
  .h-screen-1per4 {
    height: 25vh;
  }
}
